<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCthpdKy5SHUMESSBeqDHvWNYg2zlhOsaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>978868007545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-c8c6a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-c8c6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978868007545:ios:7a4da11c7d39640ef45aa8</string>
</dict>
</plist>